@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400&family=Poppins:wght@400;700&display=swap");
* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

body {
  background: #fff;
}

nav {
  padding: 4vw 6vw;
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

nav h2 {
  color: #58378b;
  font-family: "Noto Sans JP", sans-serif;
}

span.logo {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  margin-left: 10px;
  border-radius: 50%;
  background: #7acac7;
  display: block;
  position: relative;
}

span.inner-logo {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  border-radius: 50%;
  background: #cf649a;
  display: block;
  position: relative;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3vw 5vw;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

header .img-div {
  margin: 25px 0;
}

header .img-div img {
  width: 100%;
  -webkit-animation: doctor ease-in-out 1s alternate infinite;
  animation: doctor ease-in-out 1s alternate infinite;
}

header .content {
  padding: 1rem 2rem;
  margin: 25px 0;
}

header .content h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  padding: 0.5rem;
  width: 100%;
  text-transform: capitalize;
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-decoration-color: #7acac7;
  text-underline-offset: 10px;
  text-underline-position: above;
  color: #2d0074;
  word-spacing: 2px;
}

header .description {
  padding: 0.6rem;
  margin: 10px 0;
  width: 100%;
}

header .description p {
  padding: 0.2rem;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #575755;
}
header .description p span {
  font-weight: bold;
  color: rgb(7, 7, 44);
}
.button {
  width: 160px;
  padding: 8px 12px;
  display: flex;
  justify-content: center;
  background: #006ac1;
  margin: 20px;
  border-radius: 8px;
  transition: 0.2s ease-in-out;
}

button i {
  margin-left: 30px;
  display: block;
}

.button:hover {
  background: #004ca3;
}
.button:hover i {
  transform: scale(1.2);
  animation: arrow ease-in 0.5s alternate infinite;
}

.button a {
  width: 100%;
  display: block;
  text-align: center;
  color: #fff;
}

.project {
  padding: 3vw 5vw;
  margin: 50px 0;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem;
  justify-content: space-evenly;
}
.project-container div {
  /* padding: ; */
  transition: 0.2s ease-in-out;
  border-radius: 18px;
  padding: 1.5rem;
  box-shadow: -3px 15px 6px 8px #2527280f;
}
.title-container {
  margin-bottom: 3rem;
}
.project-container div:hover {
  box-shadow: none;
}
.project-container div h2 {
  padding: 0.5rem;
  margin-bottom: 16px;
  text-align: center;
}
.project h1,
.timeline-wrapper h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  padding: 0.5rem;
  width: 100%;
  text-transform: capitalize;
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-decoration-color: #7acac7;
  text-underline-offset: 10px;
  text-underline-position: above;
  color: #2d0074;
  word-spacing: 2px;
}

.project ol {
  list-style: none;
  counter-reset: steps;
  padding: 10px;
}
.project ol li {
  counter-increment: steps;
  margin: 10px;
  padding: 5px;
}
.project ol li::before {
  content: counter(steps);
  margin-right: 0.5rem;
  background: #006ac1;
  color: white;
  padding: 3px;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  display: inline-grid;
  place-items: center;
  line-height: 1.2em;
}
.project ol li ol li {
  margin: 2px;
  padding: 5px;
}

.project ol li ol li::before {
  content: counter(steps);
  margin-right: 0.75rem;
  background: #a7284e;
  color: white;
  padding: 2px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  display: inline-grid;
  place-items: center;
  line-height: 0.5em;
}

@keyframes doctor {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes arrow {
  0% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@media only screen and (min-width: 768px) {
  .img-div,
  .content {
    -webkit-box-flex: 0.5;
    -ms-flex: 0.5;
    flex: 0.5;
    margin: 0 15px;
  }
  .img-div {
    padding: 1rem;
  }
  header .content h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 2.7rem;
    padding: 1rem;
    width: 100%;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #2d0074;
    word-spacing: 5px;
  }
  .description {
    padding: 1.2rem;
    width: 350px;
  }
  .description p {
    padding: 0.2rem;
    line-height: 1.5;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    color: #575755;
  }
}

/* Timeline section */

.timeline {
  max-width: 900px;
  margin: 0 auto;
}

.timeline .time {
  background: #f1c30f;
  padding: 3px 5px;
  width: 80px;
  margin: 10px 0;
  color: #fff;
  text-align: center;
  border-radius: 24px;
  border: 4px solid #f6e282;
}

.timeline p {
  line-height: 1.6;
}

.timeline-body {
  position: relative;
  padding: 15px;
  box-shadow: -3px 15px 6px 8px #2527280f;
  border-radius: 0px 8px 8px 0;
}

.timeline-body::after {
  content: "";
  width: 4px;
  height: 100%;
  background: hsl(0, 54%, 65%);
  position: absolute;
  left: -4px;
  top: 0;
}

.timeline-item {
  position: relative;
}
.timeline-item::after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 4px solid hsl(0, 54%, 65%);
  position: absolute;
  background: #fff;
  left: -30px;
  top: 0px;
  z-index: 5;
}

.timeline-content {
  margin: 40px;
  padding-bottom: 40px;
  border-bottom: 1px dashed hsl(0, 4%, 84%);
}

.download-report {
  background: rgb(52, 144, 206);
  color: #fff;
  display: block;
  width: 170px;
  border-radius: 25px;
  padding: 10px 15px;
  margin-top: 25px;
}

/* media queries for mobile view */

@media only screen and (max-width: 768px) {
  .timeline-content {
    margin: 10px;
    padding-bottom: 20px;
    border-bottom: 1px dashed hsl(0, 4%, 84%);
  }

  .timeline-wrapper {
    padding: 10px;
  }

  .timeline-body::after {
    content: "";
    width: 4px;
    height: 100%;
    background: hsl(0, 54%, 65%);
    position: absolute;
    left: 3px;
    top: 0;
  }
  .timeline-item::after {
    left: -25px;
    top: 0px;
  }
}
