@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #fbf6f2;
}

nav {
  padding: 3vw 6vw;
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav h2 {
  color: #58378b;
  font-family: "Poppins", sans-serif;
}

span.logo {
  width: 30px;
  height: 30px;
  margin: 0 20px;
  border-radius: 50%;
  background: #7acac7;
  display: block;
  position: relative;
}

span.inner-logo {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  border-radius: 50%;
  background: #cf649a;
  display: block;
  position: relative;
}
